body {
    background-image: url(fű.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.col-sm-8 {
    font-size: 10px;
    color: white;
    padding-top: 40px;
    background-color: rgba(255, 0, 0, 0.479);
}

.nyul {
    height: 200px;
    width: 50px;
}

#vas {
    height: 250px;
    width: 300px;
    padding-left: 50px;
}

img {
    padding: 20px;
}

#ker {
    height: 200px;
    width: 250px;
}
h3{
    color: red;
}

